@layer config, defaults, components, utilities, pages, sections;

@import '@acab/reset.css' layer(defaults);
@import './variables.css' layer(config);
@import './base.css' layer(defaults);
@import './typography.css' layer(defaults);
