:root {
  --color-text: #000;
  --color-base: #fff;
  --color-primary: #f00;

  --font-family-sans-serif: 'Noto Sans JP', sans-serif;
  --font-family-sans-serif-roman: sans-serif;
  --font-family-heading: var(--font-family-sans-serif);
  --font-family-base: var(--font-family-sans-serif);

  /* font size config */
  --font-base: 16;
  --rem: calc(1rem / var(--font-base));

  /* main view calc base size for design */
  --base-view-size-ref-value: 375;

  /* root font size */
  --root-font-size: calc(var(--font-base) / var(--base-view-size-ref-value) * 100vi);
  @media (width >= 48em) {
    --root-font-size: clamp(0.5rem, 0.34vi + 0.91rem, 1.19rem);
  }

  /* px to rem font sizes ex) 24px / 16 = 1.5rem */
  --font-size-8: 0.5rem;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-semi-black: 800;
  --font-weight-black: 900;
  --font-weight-base: var(--font-weight-medium);

  /* line hight */
  --leading-none: 1;
  --leading-xs: 1.25;
  --leading-sm: 1.275;
  --leading-md: 1.5;
  --leading-lg: 1.8;
  --leading-xl: 2;
  --leading-xxl: 2.5;
  --leading-base: 1.5;
  --leading-hd: 1.5;
  --leading-trim: calc((1em - 1lh) / 2);

  /* letter-spacing */
  --letter-spacing-base: 0.01em;

  /* ease: cubic
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  */

  /* ease: circ */
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  /* ease: expo
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  */

  /* ease: quad
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  */

  /* ease: quart
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  */

  /* ease: quint
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  */

  /* ease: sine */
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  /* ease: back
  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  */

  /* math: Infinity */
  --infinity: calc(1px / 0);

  /* math: Golden ratio */
  --golden-ratio: 1.618;

  /* safe area */
  --safe-top: env(safe-area-inset-top, 0);
  --safe-right: env(safe-area-inset-right, 0);
  --safe-bottom: env(safe-area-inset-bottom, 0);
  --safe-left: env(safe-area-inset-left, 0);
}
