---
import { Picture } from 'astro:assets';
import Counter from '../components/Counter.astro';
import Layout from '../layouts/Layout.astro';

const title = `page title`;
const tagline = ``;
const description = ``;
---

<Layout isHome tagline={tagline} description={description}>
  <main>
    <h1>{title}</h1>
    <Counter initialCount={10} />
    <Picture
      src={import('../assets/img/test300x300.png')}
      formats={['avif']}
      alt=""
      fetchpriority="high"
    />
  </main>
</Layout>
